<% if current_user %>
    <%= render 'layouts/search_options' %>

    <ol>
        <% @friends.each do |friend| %>
            <li> <%= friend.name %> </li>
        <% end %>
    </ol>

<% else %>
    <%= link_to "", "/auth/facebook", class: "facebook-button" %>
<% end %>
