<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <button type="button" class="btn btn-primary btn-lg inactive">
            <span class="glyphicon glyphicon-book"></span> Search For Classes
        </button>
        <button type="button" class="btn btn-primary btn-lg active">
            <span class="glyphicon glyphicon-user"></span> Search For Friends
        </button>
        <button type="button" class="btn btn-primary btn-lg active">
            <span class="glyphicon glyphicon-stats"></span> Search For Professors
        </button>

    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <%= render 'layouts/navigation_links' %>
        </ul>
    </div>
</div>
